
	<div style="grid-template-columns: 1fr 1fr;" class="col-3 p-3 mb-2">
		<input class="form-control" type="text" placeholder="Ваше имя" aria-label="default input example">
		<input class="form-control" type="phone" placeholder="Номер телефона" aria-label="default input example">
		<input class="form-control" type="phone" placeholder="Номер телефона" aria-label="default input example">
	</div>
