<div class="container mt-4">
  <h1>Наши стрижки</h1>
  <div class="row">
    <div class="col-md-4">
      <h3>Классическая</h3>
      <p>Аккуратная стрижка с четкими линиями</p>
      <p>Цена: 1500 руб.</p>
    </div>
    <div class="col-md-4">
      <h3>Модная</h3>
      <p>Современные тенденции</p>
      <p>Цена: 2000 руб.</p>
    </div>
  </div>
  <a href="/booking" class="btn btn-primary mt-3">Записаться</a>
</div>